clone:
  git:
    image: woodpeckerci/plugin-git
    settings:
      partial: false
      depth: 5

steps:
  init-secrets:
    when:
      - event: push
    image: infisical/cli
    environment:
      INFISICAL_TOKEN:
        from_secret: VAULT_TOKEN
    commands:
      - infisical export --domain https://vault.devforth.io/api --format=dotenv-export --env="prod" > ./deploy.vault.env
    secrets:
      - VAULT_TOKEN

  release:
    image: node:20
    when:
      - event: push
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    commands:
      - export $(cat ./deploy.vault.env | xargs)
      - env
      - cd adminforth
      - npm clean-install
      - /bin/bash ../live-demo/deploy/buildRelease.sh
      - npm audit signatures
      - npx semantic-release

  slack-on-failure:
    when:
      - event: push
        status: [failure, success]
      - event: push
    image: curlimages/curl
    commands:
      - export $(cat ./deploy.vault.env | xargs)
      - cd live-demo/deploy && /bin/sh buildSlackNotify.sh


  build-live-demo:
    when:
      - event: push
    image: docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    commands:
      - cd live-demo/deploy && /bin/sh build.sh
    secrets:
      - VAULT_MAIN_CA_PEM_KEY
      - VAULT_MAIN_KEY_PEM_KEY
      - VAULT_MAIN_CERT_PEM_KEY
      - VAULT_AF_SECRET
      - VAULT_HARBOR_KEY
      - VAULT_OPENAI_API_KEY
      - VAULT_AWS_ACCESS_KEY_ID
      - VAULT_AWS_SECRET_ACCESS_KEY
      - VAULT_ADMIN_PASSWORD