services:

  adminforth:
    image: harbor.devforth.io/adminforth-demo/app:latest
    build: ../app
    network_mode: host
    environment:
      - NODE_ENV=production
      - ADMINFORTH_SECRET=${VAULT_AF_SECRET}
      - OPENAI_API_KEY=${VAULT_OPENAI_API_KEY}
      - AWS_ACCESS_KEY_ID=${VAULT_AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${VAULT_AWS_SECRET_ACCESS_KEY}
      - DATABASE_FILE_URL=file:./db/live.sqlite
    volumes:
      - af-db:/code/db/
      
   

networks:
  default:
    driver: bridge

volumes:
  af-db: