<template>
  <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
    {{reason}}
  </div>
</template>

<script setup>
    defineProps({
        reason: String
    });
</script>