<template>
  <div class="text-center text-gray-500 text-sm mt-4">
    Header Text
  </div>
</template>

<script setup>
import { onMounted } from 'vue';

const props = defineProps<{
  reason: String
}>();

onMounted(() => {
  // Logic on mount if needed
});
</script>