<template>
  <div class="display-flex justify-center text-lightSidebarIcons text-center dark:text-darkSidebarIcons">
    {{reason}}
  </div>
</template>

<script setup>
    defineProps({
        reason: String
    });
</script>