/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: transparent;
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem 0.2rem;
  }

  .heroBannerTitle {
    font-size: 2.2rem;
  }
  
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}


.card-demo {
  max-width: 500px;
}

.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 500px));
  gap: 4rem;
  justify-content: center;
  padding: 1rem;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, minmax(300px, 500px));
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, minmax(300px, 500px));
  }

}